.bar {
    animation: fade-in-slide-up 1s ease;
}

@keyframes fade-in-slide-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}